*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container
{
    /* border: 1px solid red; */
}
.container .header
{
    height: 100vh;
}
.container .header img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .header_content
{
    /* border: 1px solid; */
    padding: 10px 0;
}
.container .header_content .header_content_line
{   
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 95%;
}
.container .header_content .header_content_line .lineOne
{
    width: 100px;
    color: #8888;
    margin: 10px 0;

}
.container .header_content .header_content_line .lineTwo
{
    width: 120px;
    color: #8888;
    margin: 10px 0;
}
.container .header_content .header_content_text
{
    margin: 0 auto;
    padding: 15px 0;
    width: 95%;
}
.container .header_content .header_content_text .h_C_tetxt
{
    font-size: 25px;
    color: #777777;
    line-height: 35px;
}
.container .header_content .header_content_img
{
    /* border: 1px solid; */
    margin: 0 auto;
    width: 95%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.container .header_content .header_content_img img
{
    width: 400px;
}
.container .sensor
{
    padding: 10px 0;
}
.container .sensor .sensor_img
{
    /* border: 1px solid; */
    height: 100vh;
    margin: 0 auto;
    width: 95%;
}
.container .sensor .sensor_img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .sensor .sensor_line
{
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
}
.container .sensor .sensor_line .lineOne
{
    width: 100px;
    color: #8888;
    margin: 10px 0;
}
.container .sensor .sensor_line .lineTwo
{
    width: 120px;
    color: #8888;
    margin: 10px 0;
}
.container .sensor .sensor_text
{
    /* border: 1px solid; */
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}
.container .sensor .sensor_text .s_text
{
    font-size: 25px;
    color: #777777;
    line-height: 35px;
}
.container .sensor .sensor_img_cars
{
    /* border: 1px solid; */
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.container .sensor .sensor_img_cars img
{
    width: 650px;
}
.container .Estos
{
    /* border: 1px solid red; */
    padding: 10px 0;
}
.container .Estos .estos_img
{
    width: 95%;
    margin: 0 auto;
    height: 100vh;
}
.container .Estos .estos_img img
{
    width: 100%;
    height: 100%;
}
.container .Estos .estos_text
{
    /* border: 1px solid; */
    /* justify-content: space-between; */
    width: 95%;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
}
.container .Estos .estos_text .details_img
{
    /* border: 1px solid; */
    width: 50%;
    padding: 10px 0;
}
.container .Estos .estos_text .details_img img
{
    width: 80%;
    height: 400px;
}
.container .Estos .estos_text .details_text
{
    /* border: 1px solid red; */
    width: 50%;
    padding: 10px 0;
}
.container .Estos .estos_text .details_text p
{
    font-size: 30px;
    color: #777777;
    line-height: 40px;
}
.container .Instalación
{
    /* border: 1px solid; */
    padding: 10px 0;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}
.container .Instalación .textOne
{   
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-bottom: 30px;
} 
.container .Instalación .check
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .Instalación .check p
{
    margin-left: 20px;
}
.container .Instalación .check i
{
    color: #06B4AA;
}
.container .Instalación .textTwo
{   
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.container .content
{
    /* border: 1px solid red; */
    padding: 20px 0;
}
.container .content .content_details
{
    /* border: 1px solid ; */
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .content .content_details .content_img
{
    width: 45%;
}
.container .content .content_details .content_text
{
    /* border: 1px solid; */
    width: 55%;
    padding: 20px 0;
}
.container .content .content_details .content_text .pensando
{
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: 500;
}
.container .content .content_details .content_text .NUEVO
{
    /* border: 1px solid; */
    margin-top: 20px;
    padding: 10px 0;
    font-size: 30px;
    font-weight: 600;
}
.container .content .content_details .content_text .NUEVO i
{
    color: #06B4AA;
    margin: 0 20px;
}
.container .content .content_images
{
    /* border: 1px solid red; */
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    display:  flex;
    justify-content: safe;
    align-items: center;
}
.container .content .content_images .rellene
{
    font-size: 30px;
}

.container .content .content_images img
{
    margin-right: 35px;
}

.container .input
{
    /* border: 1px solid red; */
    padding: 20px 0;
}
.container .input .input_details_one
{   
    /* border: 1px solid red; */
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.container .input .input_details_one input
{
    padding: 15px 10px;
    width: 45%;
    outline: none;
    background-color: #E4E4E4;
    border: none;
    transition: all 0.3s ease;
}
.container .input .input_details_one input:focus
{
    background-color: #fff;
    color: #777777;
    border: 1px solid #e4e4e4;
}
.container .input .input_details_two
{
    /* border: 1px solid red; */
    /* position: relative; */
    padding: 20px 0;
    margin: 0 auto;
    width: 95%;
}
.container .input .input_details_two input
{
    padding: 15px 10px;
    width: 40%;
    margin:  0;
    outline: none;
    background-color: #E4E4E4;
    border: none;
}
.container .input .input_details_two select
{
    position: relative;
    padding: 15px 10px;
    width: 5%;
    margin: 0 ;
    outline: none;
    background-color: #E4E4E4;
    border: none;
    left: 1%;
}
.container .input .input_details_three
{
    /* border: 1px solid red; */
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}
.container .input .input_details_three textarea
{
    width: 100%;
    padding: 10px 5px;
    font-size: 20px;
    resize: none;
    outline: none;
    background-color: #E4E4E4;
    border: none;
    transition: all 0.3s ease;
}
.container .input .input_details_three textarea:focus
{
    background: #fff;
    border: 1px solid #e4e4e4;
}
.container .input .input_details_four
{
    /* border: 1px solid red; */
    padding: 20px 0;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
}
.container .input .input_details_four input
{
    padding: 15px 10px;
    width: 45%;
    outline: none;
    background-color: #E4E4E4;
    border: none;
    transition: all 0.3s ease;
    margin: 20px 0;
}
.container .input .input_details_one input:focus
{
    background-color: #fff;
    color: #777777;
    border: 1px solid #e4e4e4;
}
.container .input .input_details_btn
{
    border: none;
    background: rgb(0, 178, 169);
    position: relative;
    cursor: pointer;
    padding: 25px 65px;
    color: #fff;
    transition: all 0.3s linear;
}
.container .input .input_details_btn:hover
{
    background: rgba(0, 178, 169, 0.7);
}
.container .input .input_details_btn::before
{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    background: #000;
    height: 100%;
}
.container .input .input_details_five
{
    /* border: 1px solid; */
    display: flex;
    justify-content: end;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}


.container .maps
{
    /* border: 1px solid red; */
    padding: 20px 0;
}
.container .maps .details_map_text
{
    /* border: 1px solid; */
    padding: 20px 0;
    font-size: 30px;
    margin:  0 auto;
    width: 95%;
}
.container .maps .details_map
{
    margin:  0 auto;
    width: 95%;
    padding: 30px 0;
    display: flex;
    justify-content: safe;
    align-items: center;
}
.container .maps .details_map .map
{
    /* border: 1px solid; */
    height: 400px;
    width: 55%;
}
.container .maps .details_map .map iframe
{
    width: 100%;
    height: 100%;
}
.container .maps .details_map .map_text
{
    /* border: 1px solid; */
    padding: 20px 40px;
    width: 40%;
}
.container .maps .details_map .map_text .map_content
{
    display: flex;
    justify-content: safe;
    align-items: center;
    padding: 15px 0;
    /* border: 1px solid red; */
    margin-bottom: 30px;
}
.container .maps .details_map .map_text .map_content img
{
    margin-right: 20px;
}
.container .maps .details_map .map_text .map_content .text_map
{
    font-size: 25px;
    text-align: center;
}

.container .maps .details_map .map_text .map_content .text_map span
{
    font-weight: 500;
    font-size: 15px;
}
.container .maps .details_map .map_text .btn_map
{
    border: none;
    background: rgb(0, 178, 169);
    position: relative;
    cursor: pointer;
    padding: 30px 65px;
    color: #fff;
    transition: all 0.3s linear;
}
.container .maps .details_map .map_text .btn_map::before
{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    background: #000;
    height: 100%;
}
.container .maps .details_map .map_text .btn_map:hover
{
    background: rgba(0, 178, 169, 0.7);
}




.container .footer
{
    /* border: 1px solid red; */
    position: relative;
    padding: 30px 0;
    background: #181818;
    color: #fff;
    text-align: center;
}

.container .footer::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #fff;
    width: 220px;
    height: 130px;
    background: #06B4AA;
}
.container .footer::after
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 5px solid #fff;
    width: 220px;
    height: 130px;
    background: #06B4AA;
}

.container .footer img
{
    margin: 40px 0;
}
.container .footer .foter_line
{
    /* text-align: center; */
    margin-bottom: 60px;
}
.container .footer .foter_line hr
{
    width: 120px;
    margin:5px auto;
}
.container .footer .donde
{
    line-height: 40px;
    color: #8C8C8C;
}
.container .footer .donde span
{
    color: #fff;
}
.container .footer .fijo
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px 0;
    margin-top: 60px;
}
.container .footer .fijo span
{
    color: #8C8C8C;
}
.container .footer .footer_cicle
{
    /* border: 1px solid red; */
    padding: 20px 0;
    margin: 60px auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .footer .footer_cicle .cicle
{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #777777;
    border-radius: 50%;
    background-color: rgb(29, 28, 31);
    margin: 10px;
    transition: all 0.1s linear;
}
.container .footer .footer_cicle .cicle:hover
{
    border: 1px solid #fff;
    background: rgba(29, 28, 31,0.4);
}
.container .footer .footer_romb
{
    position: absolute;
    background-color: #181818;
    clip-path: polygon(50% 0%, 100% 50%, 50% 94%, 0% 50%);
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: -55px;
}
.container .footer .footer_romb p
{
    font-size: 15px;
    cursor: pointer;
}
.container .footer .footer_romb .triagle
{
    cursor: pointer;
    width: 50%;
    height: 60px;
    clip-path: polygon(49% 66%, 19% 100%, 77% 100%);
    background-color: #00B2A9;
    margin-bottom: 5px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.container .footer .footer_romb .triagle .triagleTwo
{
    clip-path: polygon(49% 66%, 19% 100%, 77% 100%);
    background-color: #fff;
    width: 35px;
    height: 55px;
}
.container .footer .position_circle
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .AUTODOM
{
    /* border: 1px solid ; */
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}







@media (max-width:1240px){

    .container .header_content .header_content_img
    {
        display: block;
        text-align: center;
    }
    .container .header_content .header_content_img img
    {
        margin: 10px;
    }
    .container .sensor .sensor_img_cars
    {
        display: block;
        text-align: center;
        align-items: center;
    }
    .container .sensor .sensor_img_cars img
    {
        margin: 10px;
    }

}

@media (max-width:1030px)
{
    .container .content .content_details
    {
        /* border: 1px solid red; */
        display: block;
        text-align: center;
    }
    .container .content .content_details .content_img
    {
        /* border: 1px solid; */
        width: 100%;
    }
    .container .content .content_details .content_text
    {
        /* border: 1px solid; */
        width: 100%;
    }
    
    .container .maps .details_map
    {
        display: block;
        text-align: center;
    }
    .container .maps .details_map .map
    {
        width: 100%;
    }
    .container .maps .details_map .map_text
    {
        text-align: center;
        width: 100%;
    }
    .container .maps .details_map .map_text .map_content
    {
        display: block;
        width: 100%;
    }



}

@media (max-width:950px)
{
    .container .Estos .estos_text
    {
        /* border: 1px solid red; */
        display: block;
        justify-content: center;
    }
    .container .Estos .estos_text .details_img
    {
        /* border: 1px solid; */
        text-align: center;
        width: 100%;
    }
    .container .Estos .estos_text .details_text
    {
        /* border: 1px solid; */
        text-align: center;
        width: 100%;
        padding: 20px ;
    }
}

@media (max-width:715px)
{
    .container .sensor .sensor_img_cars img
    {
        width: 80%;
    }
    .container .header img
    {
        width: 100%;
        display: block;
    }
}
@media (max-width:692px){
    .container .content .content_details .content_img img
    {
        width: 100%;
    }
    .container .content .content_details .content_text
    {
        font-size: 10px;
    }
}       
@media (max-width:430px){
   .container .header_content .header_content_img img
   {
        width: 80%;
   }
   .container .header
   {
    height: 40vh;
   }
   .container .header_content .header_content_text .h_C_tetxt
   {
       padding: 20px 10px;
       font-size: 20px;
   }
   .container .sensor .sensor_img
   {
        height: 40vh;
   }
   .container .sensor .sensor_text .s_text
   {
       padding: 5px;
       font-size: 20px;
   }
   .container .Estos .estos_img
   {
        height: 40vh;
   }
   .container .Estos .estos_text .details_img img
   {
        width: 80%;
        height: 70%;
   }
   .container .Estos .estos_text .details_text p
   {
        padding: 10px ;
        font-size: 20px;
        line-height: 30px;
   }
   .container .Instalación .textOne
   {
        display: block;
        text-align: center;
   }
   .container .Instalación .textTwo
   {
        display: block;
        text-align: center;
   }
   .container .Instalación .hour
   {
       margin: 20px;
   }
   .container .Instalación
   {
       font-size: 20px;
   }
   .container .Instalación .check
   {
        display: block;
   }
   .container .Instalación .check i
   {
        margin: 5px;
   }
   .container .footer img
   {
        width: 70%;
   }
   .container .footer .fijo
   {
        display: block;
   }
   .container .footer .fijo p
   {
        margin:  15px;
   }
   .container .maps .details_map .map_text .btn_map
   {
        font-size: 15px;
   }
}       
@media (max-width:552px)
{
    .container .input .input_details_one
    {
        display: block;
    }
    .container .input .input_details_one input
    {
        width: 80%;
        margin: 10px;
    }
}